In [2]:
# 讀取 CSV File
# Read the data into a data frame.
import pandas as pd
df = pd.read_csv('../2018-chienyeh_utf8.csv') 
df.head()

,銷貨倉,銷貨日期,銷貨次數,序號,銷貨時間,銷售金額,客戶代號,性別,藥品代號,藥品名稱,...,說明,等級,原價,折扣率,交易後庫存量,售價,銷售量,銷售額,折扣金,發票
0,09,2018/1/1,10001,1001,10:23:00,2500,0919323538,女,009571,作預付2500元-全身芳療舒壓課程-09倉 ...,...,作新預收醫美課程(原861之1-11次,A,2500,100,20,2500.0,1,2500,0,
1,13,2018/1/1,10001,1001,12:52:52,2574,572,女,4710050921359,KB99無子大葡萄乾300G ...,...,有機食品,C,99,100,3,74.3,1,74,0,
2,03,2018/1/1,10001,1001,08:58:08,2824,C01,,4715168110572,永信后保寧1.5MG(事後)1錠入 ...,...,避孕藥,A,250,100,0,250.0,1,250,0,
3,05,2018/1/1,10001,1001,11:20:48,2849,E01,男,4716022950143,防疫天使嬰幼童口罩5入(綠.藍) ...,...,口眼罩貼,A,25,100,17,25.0,1,25,0,ˇ
4,18,2018/1/1,10001,1001,09:00:34,2948,0933131405,男,4901548160132,暖暖包24H 日本桐灰(小白兔)10入 ...,...,冰熱枕包,E,99,100,135,99.0,1,99,0,ˇ

In [21]:
df_tmp = df.groupby('藥品代號')
df_drugID = df_tmp.groups.keys()

df_count = pd.DataFrame(index=df_drugID ,columns=['count'])

solution = pd.DataFrame()
solution = df.groupby('藥品代號').count();

for i in df_drugID:
    df_count.at[i,'count'] = solution.loc[i,'序號']

df_count.head()

               count

    38
 471175351325
   246
 471395706989
     1
 471985394610
     2
+H109681827
     4

In [24]:
df_count_sorting = df_count.sort_values(by = 'count',ascending = False)
print(df_count_sorting)

                count
DPS4           41838
DRUG FARE      11966
DPS3            9156
000501          7348
DPSY            7296
...               ...
AB289211G0         1
AB29478100         1
2565886890421      1
AB301221G0         1
4714421806221      1

[13077 rows x 1 columns]

In [75]:
solution = df
solution['銷貨日期'] = pd.to_datetime(solution['銷貨日期'])
solution = solution.set_index('銷貨日期')

solution.resample('MS').sum().head()

,銷貨次數,序號,銷售金額,原價,折扣率,交易後庫存量,售價,銷售量,銷售額,折扣金
銷貨日期,,,,,,,,,,
2018-01-01,963264997,96196041,126431605,24045789,4940381,9801422,22979263.6,74008,12600278,844229
2018-02-01,890266278,88903329,114706041,21797417,4577440,10347585,20615427.2,86964,11827624,703520
2018-03-01,963946222,96070193,127230337,29098545,4887514,6146209,28127885.1,97845,12860555,841463
2018-04-01,960417718,95737335,338703740,41247251,5114180,25396789,39531393.3,97138,24403989,685618
2018-05-01,1024645342,102082952,281757491,38367798,5281237,16376828,37183557.7,100889,21591304,807427

In [78]:
solution = df

solution['銷貨日期'] = pd.to_datetime(solution['銷貨日期'])
solution = solution.set_index(['藥品代號','銷貨日期'])

solution = solution.groupby(['藥品代號','銷貨日期'])

#solution.resample('MS').count().head()

solution.sum().head()

                            銷貨次數    序號  銷售金額  原價  折扣率  交易後庫存量   售價  銷售量  銷售額  \
藥品代號           銷貨日期

 2018-01-05  30001  3001   551   0  100       0  0.0    1    0
               2018-01-09  60004  6004  1752   0  200       0  0.0    2    0
               2018-03-21  20009  2001   540   0  100       0  0.0    1    0
               2018-03-23  20012  2001  2500   0  100       0  0.0    1    0
               2018-03-24  10018  1001     0   0  100       0  0.0    1    0

                           折扣金
藥品代號           銷貨日期

 2018-01-05    0
               2018-01-09    0
               2018-03-21    0
               2018-03-23    0
               2018-03-24    0

In [83]:
#觀看藥品每個月份的銷售量
solution = df

solution['銷貨日期'] = pd.to_datetime(solution['銷貨日期'])
solution = solution.set_index('銷貨日期')
solution = solution.groupby('藥品代號')

solution = solution.resample('MS').sum()
solution.head()

                            銷貨次數    序號   銷售金額  原價  折扣率  交易後庫存量   售價  銷售量  銷售額  \
藥品代號           銷貨日期

 2018-01-01  90005  9005   2303   0  300       0  0.0    3    0
               2018-02-01      0     0      0   0    0       0  0.0    0    0
               2018-03-01  60057  6012   5374   0  400       0  0.0    4    0
               2018-04-01  60007  6003  22864   0  300       0  0.0    3    0
               2018-05-01  40017  4005   5330   0  200       0  0.0    2    0

                           折扣金
藥品代號           銷貨日期

 2018-01-01    0
               2018-02-01    0
               2018-03-01    0
               2018-04-01    0
               2018-05-01    0

In [86]:
#觀看藥品年度總銷售排名
solution = df
solution = solution.groupby('藥品代號')
solution.sum().sort_values(by = '銷售量', ascending = False).head()

,銷貨次數,序號,銷售金額,原價,折扣率,交易後庫存量,售價,銷售量,銷售額,折扣金
藥品代號,,,,,,,,,,
050000,13924950,1384306,5381372,1101,110603,-88934652,17381.0,54015,53865,1000
DPSZ,160189,16027,75308,8,1000,-3,8.0,51320,0,51318
NC033541G0,1033727,104579,383568,448,5200,-490090,170.5,32013,161610,4000
AC38465100,50187,5014,34269,3,500,-35655,3.0,30168,30000,0
AC24375100,70265,7105,60371,48,400,-63092,6.0,29911,52500,0